{% extends 'base.html' %}

{% block content %}


<style>
#scrollTableContainer {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.8s ease, opacity 0.6s ease;
}

#scrollTableContainer.visible {
    max-height: 1000px; /* un valor mayor al alto real de la tabla */
    opacity: 1;
}
</style>

<div class="container mt-4">
    <!-- Card Formulario -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Registrar / Editar Señas</h6>
        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <input type="hidden" name="id_ingreso" id="id_ingreso">

                <div class="form-group">
                    <label>Fecha</label>
                    <input type="datetime-local" class="form-control" id="fecha" name="fecha" required>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion..." required>
                </div>

                <div class="form-group">
                    <label>Monto</label>
                    <input type="number" step="0.01" class="form-control" id="monto" name="monto" placeholder="Monto...." required>
                </div>

                <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control" id="categoria" name="categoria">
                        {% for c in categorias%}
                        <option value={{c.pk}}>{{c.descripcion}} </option>
                        {% endfor %}
                        
                    </select>
                </div-->

                <div class="text-right mt-3">
                    <button type="reset" class="btn btn-secondary mr-2" onclick="ponerFecha()" >Nuevo</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>

        <!-- Botón para mostrar/ocultar tabla con scroll -->
            <div class="text-center mb-4">
                <button class="btn btn-info btn-sm" type="button" onclick="toggleScrollTable()">
                    Mostrar / Ocultar Ingresos de hoy
                </button>
            </div>

            <!-- Contenedor oculto -->
            <div id="scrollTableContainer">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Ingresos de hoy</h6>
                    </div>

                    <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                        <table class="table table-hover table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ingresohoy in ingresoshoy %}
                                <tr>
                                    <td>{{ ingresohoy.fecha|date:"d/m/Y h:i a" }}</td>
                                    <td>{{ ingresohoy.descripcion }}</td>
                                    <td>{{ ingresohoy.monto|floatformat:2 }}</td>
                                </tr>
                                {% endfor %}

                                <tr>
                                    <td class="text-success"> <i class="fas fa-arrow-up mr-1"></i> Ingresos: {{ ingreso_dinero_hoy }}</td>
                                    <td class="text-danger"> <i class="fas fa-arrow-down mr-1"></i>Egresos: {{ egreso_dinero_hoy }}</td>
                                    <td class="text-info"><i class="fas fa-balance-scale mr-1"></i> Saldo: {{ saldo_hoy }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Ingresos</h6>

            <div class="d-flex align-items-center">
                <form method="GET" id="filtroForm" class="form-inline">

                <div class="form-group mr-3">
                    <label for="fecha_desde" class="font-weight-bold mr-2">Desde</label>
                    <input type="date" id="fecha_desde" name="fecha_desde" class="form-control form-control-sm"
                    value="{{ fecha_desde }}">
                </div>

                <div class="form-group mr-4">
                    <label for="fecha_hasta" class="font-weight-bold mr-2">Hasta</label>
                    <input type="date" id="fecha_hasta" name="fecha_hasta" class="form-control form-control-sm"
                    value="{{ fecha_hasta }}">
                </div>

                <div class="form-group">
                    <select class="form-control" id="turnofiltro" name="turnofiltro">
                    <option value="M" {% if turno == "M" %}selected{% endif %}>
                        Mañana
                    </option>
                    <option value="T" {% if turno == "T" %}selected{% endif %}>
                        Tarde
                    </option>
                    <option value="A" {% if turno == "A" %}selected{% endif %}>
                        Todos
                    </option>
                </select>
                    
                </div>

                </form>

                <span class="m-0 font-weight-bold">
                    <span class="text-success">Ingresos: {{ ingreso_dinero }}</span> -
                    <span class="text-danger">Egresos: {{ egreso_dinero }}</span> -
                    <span class="text-info">Saldo: {{ saldo }}</span>
                </span>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <!--th>Turno</th-->
                            <th>Monto</th>
                            <th>Editar</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for ingreso in ingresos %}
                        <tr>
                            <td>{{ ingreso.fecha|date:"d/m/Y h:i a" }}</td>
                            <td>{{ ingreso.descripcion }}</td>
                            <!--td>{{ ingreso.get_turno_display }}</td-->
                            <td>{{ ingreso.monto|floatformat:2 }}</td>
                            <td>

                                <button class="btn btn-outline-secondary btn-sm"
                                    onclick="editarIngreso(
                                        '{{ ingreso.id }}',
                                        '{{ ingreso.fecha|date:"Y-m-d\TH:i" }}',
                                        '{{ ingreso.descripcion|escapejs }}',
                                        '{{ ingreso.monto|floatformat:2 }}',
                                        '{{ ingreso.turno }}',
                                    )">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            
                        </button>

                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No hay registros</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{% block js%}

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const now = new Date();
        const offset = now.getTimezoneOffset() * 60000;
        const localISO = new Date(now - offset).toISOString().slice(0, 16);
        document.getElementById('fecha').value = localISO;
    });

    function toggleScrollTable() {
        const cont = document.getElementById("scrollTableContainer");
        cont.classList.toggle("visible");
    }

    document.getElementById("fecha_desde").addEventListener("change", function() {
        document.getElementById("filtroForm").submit();
    });

    document.getElementById("fecha_hasta").addEventListener("change", function() {
        document.getElementById("filtroForm").submit();
    });

    document.getElementById("turnofiltro").addEventListener("change", function() {
        document.getElementById("filtroForm").submit();
    });

    function editarIngreso(id, fecha, descripcion, monto, turno) {
        monto = monto.replace(",", ".");
        document.getElementById("id_ingreso").value = id;
        document.getElementById("fecha").value = fecha;
        document.getElementById("descripcion").value = descripcion;
        document.getElementById("monto").value = monto;
        document.getElementById("turno").value = turno;
    }

</script>

{%endblock%}
