
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Encabezado -->
    <div class="text-center mb-4">
        <h3 class="h3 text-gray-800">Reporte de Cosmiatra</h3>
    </div>
  
    <div class="card-body">

      <form action="/reportes/cosmiatras" method="GET">
        {% csrf_token %}
    
        <div class="form-group">
          <label for="{{ form.fecha_desde.id_for_label }}">Fecha desde</label>
          {{ form.fecha_desde }}
        </div>

        <div class="form-group">
          <label for="{{ form.fecha_hasta.id_for_label }}">Fecha hasta</label>
          {{ form.fecha_hasta }}
        </div>

        <div class="form-group">
          <label for="{{ form.cosmiatra.id_for_label }}">Cosmiatra</label>
          {{ form.cosmiatra }}
        </div>

        <div class="form-group">
          <label for="{{ form.porcentaje.id_for_label }}">Porcentaje</label>
          {{ form.porcentaje }}
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Generar Reporte
        </button>
      </form>
    </div>


    <!-- Tabla responsiva -->
    <div class="table-responsive">
        <table class="table table-hover table-sm" id="tablaProductos">
            <thead class="thead-light">
                <tr>
                    <th>Fecha</th>
                    <th>Paciente</th>
                    <th>Cosmiatra</th>
                    <th>Monto</th>
                    <th>Porcentaje</th>
                </tr>
            </thead>

            <tbody id="tbodyProductos">
              {% for t in turnos %}
              <tr>
                <td>{{ t.fecha_hora|date:"d/m/Y H:i" }}</td>
                <td>{{ t.nombrepaciente }}</td>
                <td>{{ t.cosmetologa }}</td>
                <td>{{ t.monto }}</td>
                <td>{{ porcentaje }}%</td>
              </tr>
              {% endfor %}
              
            </tbody>
        </table>
        <b>Total: $ {{total}} - Porcentaje a pagar({{porcentaje}} %)  $ {{comision}} </b>

    </div>
</div>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}
