
{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3> Listado de Usuarios. </h3>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
        <hr>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}


        <form action="/usuarios/lista" method="GET">
            <div class="form-inline">
                <div class="col-2">
                </div>
                <div class="col-2">
                </div>
                <div class="col-8">
                    <input class="form-control" id="txtBuscar" name="txtBuscar" placeholder="Buscar....">
                    <button type="submit" class="btn btn-info btn-circle" title="Buscar!">
                        <i class="fas fa-search"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-circle" title="Nuevo Banco!" onclick="location.href='/usuarios/crear'">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <br>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre de login</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}  </td>
                        <td>{{ usuario.first_name }}  </td>
                        <td>{{ usuario.last_name }}  </td>

                        <td>
                            <button type="button" class="btn btn-link btn-sm" onclick="location.href='/usuarios/editar/' + {{ usuario.pk }}">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if usuarios.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ usuarios.previous_page_number }}">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>

                    {% endif %}

                    <li class="page-item disabled">
                        <a class="page-link">
                            Pag. {{ usuarios.number }} de {{ usuarios.paginator.num_pages }}
                        </a>
                    </li>

                    {% if usuarios.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ usuarios.next_page_number }}">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ usuarios.paginator.num_pages }}">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </form>

    </div>

{% endblock %}
